<%- include('../includes/head')%>
<div class="container">
    <main class="users">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">avatar</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
              </tr>
            </thead>
            <tbody>
                <%users.forEach(user => {%>
                    <tr>
                      <td>
                        <img src="<%=user.avatar%>" alt="<%=user.username%>">
                      </td>
                      <td><%=user.username%></td>
                      <td><%=user.email%></td>
                    </tr>
                <%})%>
            </tbody>
          </table>
    </main>
</div>
<%- include('../includes/end')%>