<ul class="pagination">
    <li class="pagination_item">
        <a href="<%=path%>?page=<%= pagination.page_prev%>" class="pagination_link pagination_prev">previous</a>
    </li>
    <li class="pagination_item">
        <a href="<%=path%>?page=<%= pagination.page_first%>" class="pagination_link pagination_first"><%= pagination.page_first%></a>
    </li>
    <li class="pagination_item">
        <a href="<%=path%>?page=<%= pagination.page_second%>" class="pagination_link pagination_second"><%= pagination.page_second%></a>
    </li>
    <li class="pagination_item">
        <a href="<%=path%>?page=<%= pagination.page_third%>" class="pagination_link pagination_third"><%= pagination.page_third%></a>
    </li>
    <li class="pagination_item">
        <a href="<%=path%>?page=<%= pagination.page_next%>" class="pagination_link pagination_next">next</a>
    </li>
</ul>